header {
	width:100%;
	height: 250px;
	background-image: url(../img/poorflix2.PNG);
	background-repeat: no-repeat;
	font-size: 20px;
	margin-top: 1em;
}

input.fieldError {
    border-color:red !important;
    box-shadow:0 0 10px red !important;
}

img.thumbnail {
    margin: 0 auto 0 auto;
	width: 160px;
	display: block;
}